<filepath="gfx_oric1kbd.png" id="gfx_oric1kbd" colfmt=6 />
<filepath="gfx_atmoskbd.png" id="gfx_atmoskbd" colfmt=6 />
<filepath="gfx_pravetzkbd.png" id="gfx_pravetzkbd" colfmt=6 />
<filepath="pointer1.png" id="gfx_pointer1" colfmt=6 />
<filepath="settingsbg.png" id="gfx_settingsbg" colfmt=6 />
<filepath="buttonup_lft.png" id="gfx_buttonup_lft" colfmt=6 />
<filepath="buttonup_mid.png" id="gfx_buttonup_mid" colfmt=6 />
<filepath="buttonup_rgt.png" id="gfx_buttonup_rgt" colfmt=6 />
<filepath="buttondn_lft.png" id="gfx_buttondn_lft" colfmt=6 />
<filepath="buttondn_mid.png" id="gfx_buttondn_mid" colfmt=6 />
<filepath="buttondn_rgt.png" id="gfx_buttondn_rgt" colfmt=6 />
<filepath="checkbox_off.png" id="gfx_cbox_off" colfmt=6 />
<filepath="checkbox_on.png" id="gfx_cbox_on" colfmt=6 />
<filepath="radio_off.png" id="gfx_radio_off" colfmt=6 />
<filepath="radio_on.png" id="gfx_radio_on" colfmt=6 />

<filepath="wiimote_2.png" id="gfx_wiimote_2" colfmt=6 />
<filepath="wiimote_1.png" id="gfx_wiimote_1" colfmt=6 />
<filepath="wiimote_B.png" id="gfx_wiimote_B" colfmt=6 />
<filepath="wiimote_A.png" id="gfx_wiimote_A" colfmt=6 />
<filepath="dpad_left.png" id="gfx_dpad_left" colfmt=6 />
<filepath="dpad_right.png" id="gfx_dpad_right" colfmt=6 />
<filepath="dpad_down.png" id="gfx_dpad_down" colfmt=6 />
<filepath="dpad_up.png" id="gfx_dpad_up" colfmt=6 />
<filepath="nunchuck_Z.png" id="gfx_nunchuck_Z" colfmt=6 />
<filepath="nunchuck_C.png" id="gfx_nunchuck_C" colfmt=6 />
<filepath="classic_dpad_up.png" id="gfx_classic_dpad_up" colfmt=6 />
<filepath="classic_dpad_left.png" id="gfx_classic_dpad_left" colfmt=6 />
<filepath="classic_ZR.png" id="gfx_classic_ZR" colfmt=6 />
<filepath="classic_x.png" id="gfx_classic_x" colfmt=6 />
<filepath="classic_a.png" id="gfx_classic_a" colfmt=6 />
<filepath="classic_y.png" id="gfx_classic_y" colfmt=6 />
<filepath="classic_b.png" id="gfx_classic_b" colfmt=6 />
<filepath="classic_ZL.png" id="gfx_classic_ZL" colfmt=6 />
<filepath="classic_R.png" id="gfx_classic_R" colfmt=6 />
<filepath="classic_L.png" id="gfx_classic_L" colfmt=6 />
<filepath="classic_dpad_down.png" id="gfx_classic_dpad_down" colfmt=6 />
<filepath="classic_dpad_right.png" id="gfx_classic_dpad_right" colfmt=6 />
